@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Fraunces:wght@700;900&display=swap");
body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

li {
  cursor: pointer;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px;
  font-size: 1rem;
  color: white;
  z-index: 98;
}
.header .logo {
  font-weight: 700;
  font-size: 1.7em;
}
.header .headerMenus {
  display: flex;
}
@media screen and (max-width: 375px) {
  .header .headerMenus {
    display: none;
  }
}
.header .menuContainer {
  display: flex;
  align-items: center;
  width: 300px;
  margin-right: 30px;
}
.header .menuContainer ul {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.header .contactButton {
  background-color: white;
  color: #23303e;
  width: 100px;
  height: 40px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.header .contactButton:hover {
  cursor: pointer;
  background-color: skyblue;
  color: white;
  transition: 0.1s;
}
.header #burgerbtn {
  display: none;
  width: 35px;
  height: 25px;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .header #burgerbtn {
    display: block;
  }
}
.header #popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99;
}
.header #popup .triangle {
  top: 90px;
  position: fixed;
  width: 0;
  height: 0;
  right: 0;
  margin-right: 30px;
  border-top: 40px solid transparent;
  border-right: 35px solid white;
  border-bottom: 40px solid transparent;
}
.header #popup .mobileHeadContent {
  width: 84%;
  height: 40vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.header #popup .mobileHeadContent .mobileHeadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 40%;
}
.header #popup .mobileHeadContent .mobileHeadBox .list {
  font-size: 1.15rem;
}
.header #popup .mobileHeadContent .mobileHeadBox .contactBtn {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background-color: #fad400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.header #popup.active {
  display: block;
}

.container {
  font-size: 1rem;
}
.container .headContainer {
  position: relative;
  height: 100vh;
}
.container .headContainer .desktop {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 375px) {
  .container .headContainer .desktop {
    display: none;
  }
}
.container .headContainer .mobile {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 375px) {
  .container .headContainer .mobile {
    display: block;
  }
}
.container .headContainer .headContent {
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
  display: flex;
  height: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container .headContainer .headContent .title {
  font-family: "Fraunces", serif;
  font-size: 3em;
  font-weight: 700;
  color: white;
  letter-spacing: 8px;
}
@media screen and (max-width: 375px) {
  .container .headContainer .headContent .title {
    font-size: 2.5em;
    text-align: center;
  }
}
.container .headContainer .headContent img {
  width: 40px;
}
.container .contentContainer {
  display: flex;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 375px) {
  .container .contentContainer {
    flex-direction: column !important;
  }
}
.container .contentContainer .content, .container .contentContainer .imgContainer, .container .contentContainer .imgText {
  width: 50%;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .content, .container .contentContainer .imgContainer, .container .contentContainer .imgText {
    width: 100%;
  }
}
.container .contentContainer .imgContainer img, .container .contentContainer .imgText img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .imgContainer .desktop, .container .contentContainer .imgText .desktop {
    display: none;
  }
}
.container .contentContainer .imgContainer .mobile, .container .contentContainer .imgText .mobile {
  display: none;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .imgContainer .mobile, .container .contentContainer .imgText .mobile {
    display: block;
  }
}
.container .contentContainer .imgText {
  position: relative;
}
.container .contentContainer .imgText .content {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .imgText .content {
    top: 40%;
    width: 90%;
  }
}
.container .contentContainer .imgText .content .title {
  font-family: "Fraunces", serif;
  color: #25564b;
  font-size: 1.8rem;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .imgText .content .title {
    font-size: 1.65rem;
  }
}
.container .contentContainer .imgText .content p {
  color: #25564b;
  text-align: center;
  line-height: 25px;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .imgText .content p {
    font-size: 0.8rem;
  }
}
.container .contentContainer .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .content {
    height: 50vh;
  }
}
.container .contentContainer .content .contentbox {
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.container .contentContainer .content .contentbox .title {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .content .contentbox .title {
    text-align: center;
    font-size: 1.8rem;
  }
}
.container .contentContainer .content .contentbox p {
  line-height: 25px;
  color: #a7abae;
  margin-bottom: auto;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .content .contentbox p {
    text-align: center;
    font-size: 0.9rem;
  }
}
.container .contentContainer .content .contentbox .learnmoreContainer {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  height: 25px;
  width: 140px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.container .contentContainer .content .contentbox .learnmoreContainer .slash {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.container .contentContainer .content .contentbox .learnmoreContainer .yellow {
  background-color: #fad400;
}
.container .contentContainer .content .contentbox .learnmoreContainer .red {
  background-color: #fe7867;
}
@media screen and (max-width: 375px) {
  .container .contentContainer .content .contentbox .learnmoreContainer {
    margin: 0px auto;
    font-size: 1rem;
  }
}
.container .contentContainer:nth-child(2) {
  flex-direction: row-reverse;
}
.container .clientContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
@media screen and (max-width: 375px) {
  .container .clientContainer {
    height: 150vh;
  }
}
.container .clientContainer .clientBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 80%;
}
@media screen and (max-width: 375px) {
  .container .clientContainer .clientBox {
    height: 90%;
  }
}
.container .clientContainer .clientBox .title {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  color: #a7abae;
  letter-spacing: 5px;
}
@media screen and (max-width: 375px) {
  .container .clientContainer .clientBox .title {
    font-size: 1.3rem;
  }
}
.container .clientContainer .clientBox .clients {
  display: flex;
  justify-content: space-between;
  height: 70%;
}
@media screen and (max-width: 375px) {
  .container .clientContainer .clientBox .clients {
    flex-direction: column;
    height: 90%;
  }
}
.container .clientContainer .clientBox .clients .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100%;
}
@media screen and (max-width: 375px) {
  .container .clientContainer .clientBox .clients .client {
    width: 100%;
    height: 27%;
  }
}
.container .clientContainer .clientBox .clients .client img {
  width: 80px;
  border-radius: 40px;
}
.container .clientContainer .clientBox .clients .client p {
  color: #5a636c;
  text-align: center;
  line-height: 25px;
}
.container .clientContainer .clientBox .clients .client .infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 13%;
}
.container .clientContainer .clientBox .clients .client .infocontainer .name {
  color: #23303e;
  font-family: "Fraunces", serif;
}
.container .clientContainer .clientBox .clients .client .infocontainer .job {
  color: #a7abae;
  font-size: 0.8rem;
}
.container .portoContainer {
  width: 100%;
}
.container .portoContainer .mobileimgs {
  display: none;
}
@media screen and (max-width: 375px) {
  .container .portoContainer .mobileimgs {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .container .portoContainer .mobileimgs img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.container .portoContainer .desktopimgs {
  display: flex;
}
@media screen and (max-width: 375px) {
  .container .portoContainer .desktopimgs {
    display: none;
  }
}
.container .portoContainer .desktopimgs img {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: rgba(69, 140, 126, 0.4);
}
@media screen and (max-width: 375px) {
  .footer {
    height: 300px;
  }
}
.footer .footerbox {
  height: 70%;
  width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 375px) {
  .footer .footerbox {
    height: 60%;
    width: 80%;
  }
}
.footer .footerbox .footerTitle {
  font-weight: 700;
  font-size: 1.7rem;
  color: #25564b;
  margin-bottom: 40px;
}
@media screen and (max-width: 375px) {
  .footer .footerbox .footerTitle {
    font-size: 2rem;
  }
}
.footer .footerbox .footerMenuContainer {
  width: 100%;
  margin-bottom: auto;
}
.footer .footerbox .footerMenuContainer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  font-size: 0.9rem;
}
@media screen and (max-width: 375px) {
  .footer .footerbox .footerMenuContainer ul {
    font-size: 1.1rem;
  }
}
.footer .footerbox .footerMenuContainer ul li {
  transition: 0.1s;
}
.footer .footerbox .footerMenuContainer ul li:hover {
  color: white;
  transition: 0.1s;
}
.footer .footerbox .socialmediaContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .footer .footerbox .socialmediaContainer {
    width: 55%;
  }
}
.footer .footerbox .socialmediaContainer img {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  transition: 0.25s;
}
.footer .footerbox .socialmediaContainer img:hover {
  filter: invert(1);
  transition: 0.15s;
}/*# sourceMappingURL=style.css.map */